<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>ClinicKG</title>

    <link rel="stylesheet" href="<c:url value=/resources/css/style.css">
    <script src="<c: url value =/resources/static/script.js"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <nav class="nav">
            <img src="logo/logo.png" class="logo">
            <ul class="menu">
                <li><a href="product/welcome.html" class="ssylka">Главная</a></li>
                <!-- <li><a href="#1" class="ssylka">Новости</a></li>
                  <li><a href="#2" class="ssylka">О нас</a></li>
                      <li><a href="#3" class="ssylka">Врачи</a></li> -->
                <li><a href="kont.html" class="ssylka">Контакты</a></li>
            </ul>
            <div class="navigat">
                <a href="https://www.instagram.com/on_clinic.kg/?hl=ru"><img src="logo/i.png"width="40px" height="auto"></a>
                <a href="https://www.facebook.com/onclinic.kg/?ref=aymt_homepage_panel"><img src="logo/f.png" width="40px" height="auto"></a>
                <a href="https://wa.me/996702770570"><img src="logo/wa.png" width="40px" height="auto"></a>
            </div><div class="nav2">
            <button class="button"><a href = "registr.html"><h3>Зарегистрироваться</h3></a></button>
            <button class="button"><a href = "vhod.html"><h3>Вход</h3></a></button>
        </div>
        </nav>
    </div>
</header>
<br>
<div class="container">
        <span>
                <b>Адрес:</b> г.Бишкек, ул. Краснолесья 24.
                <hr>
                <b> Маршруты, идущие до нас:</b> 101, 100, 110, 243, 42, 7, 5
                <hr>
                <b>Телефон:</b> <br>
                +996 702 770 570 (WhatsApp)<br>
                +996 772 959 359
                <hr>
                <b>Email:</b> clinicakg@gmail.com


        </span>
</div>
<script src="script.js"></script>
</body>
</html>